:root {
	/* TYPOGRAPHY */
		--font-base: 'Roboto', sans-serif;
		--font-size-h1: 3rem;
		--font-size-h2: 2.4rem;
		--font-size-h3: 2rem;
		--font-size-h4: 1.5rem;
		--font-size-p: 1.2rem;
		--font-size-small: 0.875rem;
	
	/* LINE HEIGHT */
		--line-height-tight: 1;
		--line-height-normal : 1.2;
		--line-height-loose: 1.5;
	
	/* LETTER SPACING */
		--spacing-tight: -0.02em;
		--spacing-wide: 0.05em;
	
	/* COLOURS */
		--color-black: #111111;
		--color-white: #ffffff;
		--color-yellow: #FFE500;
	}

	main {
		padding: 1.5rem;
	}

	/* CUP */

	#cup-styling {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: fit-content;
		margin: auto;
	}

	#cup-mask {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		pointer-events: none;
		width: 100%;
		height: auto;
		object-fit: contain;
		display: block;
	}

	#cup :nth-child(n) {
		height: 35px;
		width: 250px;
		/* border: 1px solid black; */
	}

	#cup {
		background-color: lightgrey;
	}

	/* INGREDIENT BUTTONS */

	#ingredients {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 1rem;
	}

	.ingredient-button {
		text-align: center;
		border: darkgray solid 2px;
		padding: 0.5rem;
		border-radius: 8px;
		min-width: 120px;
	}

	.ingredient-name {
		font-size: calc(var(--font-size-p)*0.90);
		font-weight: 500;
	}

	.measurements {
		font-size: calc(var(--font-size-p)*0.75);
		font-weight: 500;
	}

	/* ACTION BUTTONS */

	#action-buttons {
		display: flex;
		gap: 1rem;
		position: fixed;
		bottom: 0;
		background-color: var(--color-black);
	}

	.action-buttons {
		background-color: var(--color-yellow);
		color: var(--color-black);
		font-size: var(--font-size-h3);
		font-weight: 500;
		display: inline-block;
		width: 100%;
		padding-block: 1rem;
		padding-inline: 2rem;
		margin-block: 1.5rem;
		margin-inline: auto;
		border-radius: 12px;
		text-align: center;
	}

	.action-buttons:hover {
	background-color: var(--color-yellow-dark);
	}

	/* MYSTERY DRINKS */

	#mystery-drink {
		display: flex;
		gap: 1rem;
		overflow-x: auto;
	}

	.mystery-drinks {
		text-align: center;
	}

	.drink {
		height: 75px;
		min-width: 100px;
	}

	.drink-name {
		font-size: calc(var(--font-size-p)*0.75);
	}

	@media (min-width: 426px) {

		#mystery-drink {
			display: flex;
			flex-wrap: wrap;
			gap: 1rem;
		}

		#action-buttons {
			position: static;
			background-color: white;
		}

	}