:root {
	/* TYPOGRAPHY */
		--font-base: 'Roboto', sans-serif;
		--font-size-h1: 3rem;
		--font-size-h2: 2.4rem;
		--font-size-h3: 2rem;
		--font-size-h4: 1.5rem;
		--font-size-p: 1.2rem;
		--font-size-small: 0.875rem;
	
	/* LINE HEIGHT */
		--line-height-tight: 1;
		--line-height-normal : 1.2;
		--line-height-loose: 1.5;
	
	/* LETTER SPACING */
		--spacing-tight: -0.02em;
		--spacing-wide: 0.05em;
	
	/* COLOURS */
		--color-black: #111111;
		--color-white: #ffffff;
		--color-yellow: #FFE500;
	}

	#game-elements > * {
		padding: 1.5rem;
	}

	/* CUP */

	#cup-styling {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: fit-content;
		margin: auto;
	}

	#cup-mask {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		pointer-events: none;
		width: 100%;
		height: auto;
		object-fit: contain;
		display: block;
	}

	#cup :nth-child(n) {
		height: 35px;
		width: 250px;
		/* border: 1px solid black; */
	}

	#cup {
		background-color: lightgrey;
	}

	/* INGREDIENT BUTTONS */

	#ingredients {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 1rem;
	}

	.ingredient-button {
		text-align: center;
		border: darkgray solid 2px;
		padding: 0.5rem;
		border-radius: 8px;
		min-width: 120px;
	}

	.ingredient-name {
		font-size: calc(var(--font-size-p)*0.90);
		font-weight: 500;
	}

	.measurements {
		font-size: calc(var(--font-size-p)*0.75);
		font-weight: 500;
	}

	/* ACTION BUTTONS */

	#action-buttons {
		padding: none;
		display: flex;
		gap: 1rem;
		position: fixed;
		bottom: 0;
		background-color: var(--color-black);
		padding-inline: 1.5rem;
		width: 100%;
	}

	.action-buttons {
		background-color: var(--color-yellow);
		color: var(--color-black);
		font-size: var(--font-size-h3);
		font-weight: 500;
		display: inline-block;
		width: 100%;
		padding-block: 1rem;
		padding-inline: 2rem;
		margin-block: 1.5rem;
		margin-inline: auto;
		border-radius: 12px;
		text-align: center;
	}

	.action-buttons:hover {
	background-color: var(--color-yellow-dark);
	}

	/* MYSTERY DRINKS */

	#mystery-drink {
		display: flex;
		gap: 1rem;
		overflow-x: auto;
	}

	.mystery-drinks {
		text-align: center;
	}

	.drink {
		height: 75px;
		min-width: 100px;
	}

	.drink-name {
		font-size: calc(var(--font-size-p)*0.75);
	}

	/* FOOTER */

	footer {
		padding-bottom: 10rem;
	}

	/* MODAL */

#info-modal {
	z-index: 2;
	display: none;
	position: absolute;
	width: 80vw;
	left: 10vw;
	height: 60vh;
	top: 10vh;
	margin: auto;
	background-color: var(--color-white);
	border-radius: 8px;
	padding: 3rem;
	border: darkgrey 2px solid;
	justify-content: center;
	align-items: center;
}

#all-modal-content {
	display: flex;
	flex-direction: column;
	align-items: end;
	gap: 2rem;
}

#modal-text-content {
	display: flex;
	flex-direction: column;
}

#close-modal, #close-certificate, #close-certificate-done {
	width: 25px;
	margin: 20px;
	height: auto;
}

#modal-drink-image {
	width: 150px;
	height: auto;
	margin: auto;
}

#modal-description {
	max-width: 25ch;
}

/* CERTIFICATE */

#certificate {
	z-index: 3;
	display: none;
	position: absolute;
	width: 80vw;
	left: 10vw;
	height: 60vh;
	top: 10vh;
	margin: auto;
	background-color: var(--color-white);
	border-radius: 8px;
	border: darkgrey 2px solid;
	justify-content: center;
	align-items: center;
}

#certificate-head {
	background-color: var(--color-yellow);
	padding: 3rem;
}

label {
	display: block;
	font:
	1rem "Fira Sans",
	sans-serif;
}

input,
label {
	margin: 0.4rem 0;
}

input {
	border: #111111 1px solid;
	border-radius: 8px;
}

/* CERTIFICATE DONE */

#certificate-done {
	z-index: 3;
	display: none;
	position: absolute;
	width: 80vw;
	left: 10vw;
	height: 60vh;
	top: 10vh;
	margin: auto;
	background-color: var(--color-white);
	border-radius: 8px;
	border: darkgrey 2px solid;
	justify-content: center;
	align-items: center;
}

	@media (min-width: 650px) {

		.game-elements {
			display: grid;
			grid-template-columns: 1fr 1fr;
			column-gap: 2rem;
			/* flex-wrap: wrap; */
		}

		#cup-section {
			/* transform: scale(1.5);
			transform-origin: top; */
		}

		#cup :nth-child(n) {
			height: 49px;
			width: 350px;
			/* border: 1px solid black; */
		}

		#mystery-drink {
			display: flex;
			flex-wrap: wrap;
			gap: 1rem;
		}

		#ingredients {
			display: flex;
		}

		#action-buttons {
			flex-direction: column;
			max-width: 250px;
			height: fit-content;
			position: relative;
			background-color: white;
		}

		footer {
			padding-bottom: 2rem;
		}

	}