:root {
	/* TYPOGRAPHY */
		--font-base: 'Roboto', sans-serif;
		--font-size-h1: 3rem;
		--font-size-h2: 2.4rem;
		--font-size-h3: 2rem;
		--font-size-h4: 1.5rem;
		--font-size-p: 1.2rem;
		--font-size-small: 0.875rem;
	
	/* LINE HEIGHT */
		--line-height-tight: 1;
		--line-height-normal : 1.2;
		--line-height-loose: 1.5;
	
	/* LETTER SPACING */
		--spacing-tight: -0.02em;
		--spacing-wide: 0.05em;
	
	/* COLOURS */
		--color-black: #111111;
		--color-white: #ffffff;
		--color-yellow: #FFE500;
		--color-yellow-dark: #DDC700;
	}

#game-elements > * {
	padding: 1.5rem;
}

html, body {
	height: 100%;
	display: flex;
	flex-direction: column;
}

main {
	flex: 1;
}

/* CUP */

#cup-styling {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: fit-content;
	margin: auto;
	margin-top: 1.5rem;
}

#cup-mask {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	pointer-events: none;
	width: 100%;
	height: auto;
	object-fit: contain;
	display: block;
}

#cup :nth-child(n) {
	height: 35px;
	width: 250px;
	/* border: 1px solid black; */
}

#cup {
	background-color: lightgrey;
}

/* ALL BUTTONS */

#all-buttons {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin: 1.5rem;

	h3 {
		padding-bottom: 1rem;
		border-bottom: var(--color-black) 1px solid;
	}
}

/* UNLOCKED RECIPES */

#unlock-recipes {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin: 1.5rem;

	h3 {
		padding-bottom: 1rem;
		border-bottom: var(--color-black) 1px solid;
	}
}

/* INGREDIENT BUTTONS */

#ingredients {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 0.5rem;
}

.ingredient-button {
	text-align: center;
	border: darkgray solid 2px;
	padding: 0.5rem;
	border-radius: 8px;
	min-width: 120px;
}

.ingredient-button:hover {
	background-color: lightgrey;
}

.ingredient-name {
	font-size: calc(var(--font-size-p)*0.8);
	font-weight: 500;
}

.measurements {
	font-size: calc(var(--font-size-p)*0.7);
	font-weight: 500;
}

/* ACTION BUTTONS */

#action-buttons {
	padding: none;
	display: flex;
	gap: 1rem;
	position: fixed;
	bottom: 0;
	background-color: var(--color-black);
	padding-inline: 1.5rem;
	width: 100%;
}

.action-buttons {
	color: var(--color-black);
	font-size: var(--font-size-h3);
	font-weight: 500;
	display: inline-block;
	width: 100%;
	padding-block: 0.75rem;
	padding-inline: 2rem;
	margin-block: 1rem;
	margin-inline: auto;
	border-radius: 12px;
	text-align: center;
}

#serve-button {
	background-color: var(--color-yellow);
}

#serve-button:hover {
	background-color: var(--color-yellow-dark);
}

#refresh-button {
	background-color: darkgrey;
}

#refresh-button:hover {
	background-color: lightgrey;
}

/* MYSTERY DRINKS */

#mystery-drink {
	display: flex;
	gap: 1rem;
	overflow-x: auto;
	margin-inline: -2rem;
}

.mystery-drinks {
	text-align: center;
}

.drink {
	height: 75px;
	min-width: 100px;
}

.drink-name {
	font-size: calc(var(--font-size-p)*0.75);
}

/* FOOTER */

footer {
	padding-bottom: 10rem;
}

/* MODAL */

#info-modal {
	z-index: 2;
	display: none;
	position: absolute;
	width: 80vw;
	left: 10vw;
	height: 60vh;
	top: 10vh;
	margin: auto;
	background-color: var(--color-white);
	border-radius: 8px;
	padding: 3rem;
	border: darkgrey 2px solid;
	justify-content: center;
	align-items: center;
}

#all-modal-content {
	display: flex;
	flex-direction: column;
	align-items: end;
	gap: 2rem;
}

#modal-text-content {
	display: flex;
	flex-direction: column;
}

#close-modal, #close-certificate, #close-certificate-done {
	width: 25px;
	margin: 20px;
	height: auto;
}

#modal-drink-image {
	width: 150px;
	height: auto;
	margin: auto;
}

#modal-description {
	max-width: 25ch;
}

/* CERTIFICATE */

#certificate {
	z-index: 3;
	display: none;
	position: absolute;
	width: 80vw;
	left: 10vw;
	height: 60vh;
	top: 10vh;
	margin: auto;
	background-color: var(--color-white);
	border-radius: 8px;
	border: darkgrey 2px solid;
	justify-content: center;
	align-items: center;
	
}

.certificate-head {
	background-color: var(--color-yellow);
	padding: 3rem;
	text-align: center;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.certificate-content {
	display: flex;
	flex-direction: column;
	padding: 3rem;
	gap: 2rem;
}

input, label {
	margin: 0.4rem 0;
}

input {
	border: #111111 1px solid;
	border-radius: 8px;
	height: 3.5rem;
	padding-inline: 1rem;
}

label {
	display: block;
}

.input-and-button {
	display: flex;
	flex-direction: column;
}

#submit-name {
	background-color: #FFE500;
	padding-inline: 2rem;
	padding-block: 1rem;
	border-radius: 8px;
	text-align: center;
}

/* CERTIFICATE DONE */

#certificate-done {
	z-index: 3;
	display: none;
	position: absolute;
	width: 80vw;
	left: 10vw;
	height: 60vh;
	top: 10vh;
	margin: auto;
	background-color: var(--color-white);
	border-radius: 8px;
	border: darkgrey 2px solid;
	justify-content: center;
	align-items: center;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

#close-certificate-done {
	margin: auto;
}


@media (min-width: 650px) {

	.game-elements {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 2rem;
	}

	#cup-section {
		margin: 5rem;
	}

	#cup :nth-child(n) {
		height: 49px;
		width: 350px;
	}

	#mystery-drink {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
		margin-inline: 0rem;
	}

	#all-buttons {
		margin-top: 5rem;
		margin-left: 0;
	}

	#unlock-recipes {
		margin-top: 0;
		margin-left: 0;
	}

	#ingredients {
		display: flex;
		gap: 1rem;
	}

	#action-buttons {
		flex-direction: column;
		max-width: 350px;
		height: fit-content;
		position: relative;
		background-color: white;
		margin-inline: auto;
		margin-top: 3rem;
	}

	#serve-button, #refresh-button {
		margin: 0;
	}

	/* MODALS */

	#info-modal, #certificate, #certificate-done {
		width: 50vw;
		left: 25vw;
		height: 70vh;
		top: 15vh;
	}

	footer {
		padding-bottom: 2rem;
	}
}

@media print {

	body * {
		visibility: hidden;
	}

	#certificate-done,
	#certificate-done * {
		visibility: visible;
	}

	#close-certificate-done {
		display: none;
	}

	#certificate-done {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: auto;
		background: white;
		color: black;
		padding: 2rem;
	}
}